page-items {
  .rightListText {
    float: right;
  }

  .item-divider-md {
    padding-left: 16px;
    color: #858585;
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
    font-size: 1.4rem;
  }

  //.input-wrapper {
  //  height: 70px;
  //}


  //.item-divider-md {
  //  height:100px;
  //}

  //<ion-item-divider class="item item-divider item-md item-divider-md" light=""><div class="item-inner"><div class="input-wrapper"><!--bindings={
  //"ng-reflect-ng-if": "true"
//}--><ion-label class="label label-md">M</ion-label></div><!--bindings={
  //"ng-reflect-ng-if": "false"
//}--></div><div class="button-effect"></div></ion-item-divider>

//.item-block {
//  height:70px;
//}
//<button class="item item-block item-md" ion-item="" style="transition: none;"><div class="item-inner"><div class="input-wrapper"><!--bindings={
// "ng-reflect-ng-if": "true"
//}--><ion-label class="label label-md">

}
