<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Items</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-row>
     <ion-col width-50 style="text-align: center">
       <button ion-button style="width:300px;" (click)="goToAddItemPage()">Add Item</button>
     </ion-col>
   </ion-row>
   
   <ion-item-group *ngFor="let group of groupedItems">
    <ion-item-divider light>{{ group.letter }}</ion-item-divider>
        <button ion-item *ngFor="let item of group.items" (click)="showItemDetail(item)">
          <h2>{{ item.name }}</h2><h2 class="rightListText">{{ item.price | currency:'CAD':true }}</h2>
          <h3>{{ item.type }}</h3>
          <p>{{ item.size }}</p>
        </button>
  </ion-item-group>
</ion-content>
