<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Clients</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getClients($event)"></ion-searchbar>

  <ion-row>
     <ion-col width-50 style="text-align: center">
       <button ion-button style="width:300px;" (click)="goToAddClientPage()">Add Client</button>
     </ion-col>
   </ion-row>

   <ion-item-group *ngFor="let group of groupedClients">
    <ion-item-divider light>{{ group.letter }}</ion-item-divider>
        <button ion-item *ngFor="let client of group.clients" (click)="showClientDetail(client)">
          {{ client.name }}
        </button>
   </ion-item-group>
</ion-content>
